body{
    background-color: rgb(10, 109, 10);
}

img{
    width: 200px;
    margin-left: -130px;
    position: relative;
    left: 150px;
}
#jugador, #computadora{
    min-height: 210px;
}

#mensajeGanador{

    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40%;
    height: 300px;
    font-size: 20px;
    color: white;
    box-shadow: 5px 5px 10px rgb(10, 29, 6);
    border-radius: 10px;

}